langchain
langchain-groq
faiss-cpu
tiktoken
langchain-community
langchain-openai
chromadb
sentence-transformers
pypdf
python-dotenv
unstructured
pdfminer
python-docx
openpyxl
pandas
jq
matplotlib
#embedding
langchain-huggingface
sentence-transformers
